/* LESS Document */
:root {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size: 16px;
}
:root body {
  padding: 0;
  margin: 0;
  color: #666;
  background-color: #ccccff;
}
/* LESS Document */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 32px;
}
/* LESS Document */
main {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  gap: 32px;
}
main article > .double-col {
  display: flex;
  justify-content: space-between;
}
main article > .double-col img {
  display: block;
  flex: 0 1 30%;
}
main article > .double-col ul {
  flex: 1 1 30%;
}
main article > .double-col ul li.current {
  color: #f60;
}
main article > .double-col ul li:not(.current) {
  cursor: pointer;
}
form label {
  width: 6em;
  display: inline-block;
}
/* LESS Document */
footer {
  text-align: right;
  margin: 32px 16px;
}

/*# sourceMappingURL=index.css.map */