/* LESS Document */

main {
	display: flex;
	justify-content: space-between;
	margin: 0 @size-main;
	gap: @size-main * 2;
	
	article {
		& > .double-col {
			display: flex;
			justify-content: space-between;
			
			img {
				display: block;
				flex: 0 1 30%;
			}
			
			ul {
				flex: 1 1 30%;
				
				li {
					&.current {
						color: @color-orange;
					}
					&:not(.current) {
						cursor: pointer;
					}
				}
			}
		}
	}
}

form {
	label {
		width: 6em;
		display: inline-block;
	}
}