:root {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: @size-main;
	
	body {
		padding: 0;
		margin: 0;
		
		color: @color-black;
		background-color: @color-blue-20;
	}
}
