/* LESS Document */
@size-main: unit(16, px);

@color-black: #666;
@color-orange: #f60;
@color-blue: #66f;

@color-orange-10: lighten(@color-orange, 10%);
@color-orange-20: lighten(@color-orange, 20%);
@color-blue-10: lighten(@color-blue, 10%);
@color-blue-20: lighten(@color-blue, 20%);
